In [1]:
# Importing the necessary libraries
import pandas as pd
import numpy as np

In [2]:
# Importing data from The DEEP-MAPS model of the labor force
unemployment_data = pd.read_csv('../data/unemployment-data.csv')

In [3]:
# Showing the first five rows of the data set
unemployment_data.head()

,cat,grp,fips,cnip_2020_01,cnip_2020_02,cnip_2020_03,cnip_2020_04,cnip_2020_05,cnip_2020_06,cnip_2020_07,...,employed_2020_03,employed_2020_04,employed_2020_05,employed_2020_06,employed_2020_07,employed_2020_08,employed_2020_09,employed_2020_10,employed_2020_11,employed_2020_12
0,total,total,48167720900,4043.3,4045.3,4047.3,4049.4,4051.8,4054.3,4056.9,...,2244.5,1841.7,1957.6,2147.4,2171.2,2265.8,2208.7,2235.6,2206.3,2233.4
1,total,total,24017851500,7502.7,7506.4,7510.2,7514.1,7518.5,7523.1,7527.9,...,5651.3,5137.2,5107.3,5321.6,5365.8,5379.6,5165.0,5273.2,5276.1,5320.2
2,total,total,48493000300,4987.7,4990.1,4992.6,4995.3,4998.2,5001.2,5004.4,...,2700.7,2220.1,2317.9,2558.4,2586.1,2715.9,2627.3,2666.2,2632.8,2578.4
3,total,total,42101026500,4249.8,4251.8,4254.0,4256.3,4258.7,4261.3,4264.0,...,1935.8,1719.0,1696.6,1639.5,1676.8,1695.0,1820.5,1801.0,1804.7,1890.0
4,total,total,42101002500,3320.9,3322.6,3324.2,3326.0,3327.9,3329.9,3332.1,...,2274.3,2102.6,2166.0,2097.0,2101.2,2127.6,2194.8,2196.1,2188.4,2266.9

In [4]:
# Determining the type of data for each column
unemployment_data.dtypes

cat                    object
grp                    object
fips                    int64
cnip_2020_01          float64
cnip_2020_02          float64
cnip_2020_03          float64
cnip_2020_04          float64
cnip_2020_05          float64
cnip_2020_06          float64
cnip_2020_07          float64
cnip_2020_08          float64
cnip_2020_09          float64
cnip_2020_10          float64
cnip_2020_11          float64
cnip_2020_12          float64
laborforce_2020_01    float64
laborforce_2020_02    float64
laborforce_2020_03    float64
laborforce_2020_04    float64
laborforce_2020_05    float64
laborforce_2020_06    float64
laborforce_2020_07    float64
laborforce_2020_08    float64
laborforce_2020_09    float64
laborforce_2020_10    float64
laborforce_2020_11    float64
laborforce_2020_12    float64
employed_2020_01      float64
employed_2020_02      float64
employed_2020_03      float64
employed_2020_04      float64
employed_2020_05      float64
employed_2020_06      float64
employed_2020_07      float64
employed_2020_08      float64
employed_2020_09      float64
employed_2020_10      float64
employed_2020_11      float64
employed_2020_12      float64
dtype: object

In [5]:
# Making the 'fips' column into a string
unemployment_data['fips'] = unemployment_data['fips'].astype(str)

In [6]:
# Determining the type of data for each column
unemployment_data.dtypes

cat                    object
grp                    object
fips                   object
cnip_2020_01          float64
cnip_2020_02          float64
cnip_2020_03          float64
cnip_2020_04          float64
cnip_2020_05          float64
cnip_2020_06          float64
cnip_2020_07          float64
cnip_2020_08          float64
cnip_2020_09          float64
cnip_2020_10          float64
cnip_2020_11          float64
cnip_2020_12          float64
laborforce_2020_01    float64
laborforce_2020_02    float64
laborforce_2020_03    float64
laborforce_2020_04    float64
laborforce_2020_05    float64
laborforce_2020_06    float64
laborforce_2020_07    float64
laborforce_2020_08    float64
laborforce_2020_09    float64
laborforce_2020_10    float64
laborforce_2020_11    float64
laborforce_2020_12    float64
employed_2020_01      float64
employed_2020_02      float64
employed_2020_03      float64
employed_2020_04      float64
employed_2020_05      float64
employed_2020_06      float64
employed_2020_07      float64
employed_2020_08      float64
employed_2020_09      float64
employed_2020_10      float64
employed_2020_11      float64
employed_2020_12      float64
dtype: object

In [8]:
# Importing data that contains the GEOIDs and census tracts for New York City
fips = pd.read_csv('../data/geoid.csv', dtype=str)

In [9]:
# Showing the first five rows of the data set
fips.head()

                 fips                        name
0  14000US36005000100   Census Tract 1, Bronx, NY
1  14000US36005000200   Census Tract 2, Bronx, NY
2  14000US36005000400   Census Tract 4, Bronx, NY
3  14000US36005001600  Census Tract 16, Bronx, NY
4  14000US36005001900  Census Tract 19, Bronx, NY

In [10]:
# Shortening the GEOIDs to FIPs codes
fips_filtered = fips['fips'].apply(lambda x: x[7:])

In [11]:
# Checking the length of the data set
len(fips_filtered)

2167

In [12]:
# Merging the two data sets on an inner join
unemployment_filtered_fips = pd.merge(unemployment_data, 
                      fips_filtered, 
                      on ='fips', 
                      how ='inner')

In [13]:
# Checking the length of the merger data set
len(unemployment_filtered_fips)

149364

In [14]:
# Filtering the merged data set by the total
unemployment_fips = unemployment_filtered_fips.query('cat == "total"')

In [15]:
# Checking the length of the merger data set
len(unemployment_fips)

2123

In [57]:
# Creating a list of columns with numbers for December 2020
december = ['fips', 'cnip_2020_12', 'laborforce_2020_12', 'employed_2020_12']

In [58]:
# Creating a data set with numbers for December 2020
unemployment_dec_2020 = unemployment_fips[december]

In [61]:
# Determining the type of data for each column
unemployment_dec_2020.dtypes

fips                   object
cnip_2020_12          float64
laborforce_2020_12    float64
employed_2020_12      float64
dtype: object

In [62]:
# Showing the first five rows of the data set
unemployment_dec_2020.head()

            fips  cnip_2020_12  laborforce_2020_12  employed_2020_12
0    36047095000        2533.6              1399.5            1195.2
62   36047018400        2322.0              1174.3            1068.6
126  36047024800        2111.2               995.5             903.0
204  36081091601        2905.1              1219.0            1127.2
269  36081011900        1344.2               976.1             900.1

In [63]:
# Creating a new column with the unemployment percentage for each FIPs code 
unemployment_dec_2020['unemployment_percent_2020_12'] = (1-(unemployment_dec_2020['employed_2020_12']/unemployment_dec_2020['laborforce_2020_12']))*100

/var/folders/h2/3h97xj0n3t5308_bnccpf1s80000gn/T/ipykernel_4598/309560818.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unemployment_dec_2020['unemployment_percent_2020_12'] = (1-(unemployment_dec_2020['employed_2020_12']/unemployment_dec_2020['laborforce_2020_12']))*100

In [65]:
# Showing the first five rows of the data set
unemployment_dec_2020.head()

,fips,cnip_2020_12,laborforce_2020_12,employed_2020_12,unemployment_percent_2020_12
0,36047095000,2533.6,1399.5,1195.2,14.598071
62,36047018400,2322.0,1174.3,1068.6,9.001107
126,36047024800,2111.2,995.5,903.0,9.291813
204,36081091601,2905.1,1219.0,1127.2,7.530763
269,36081011900,1344.2,976.1,900.1,7.786087

In [66]:
# Rounding the unemployment percentage to two decimals
unemployment_dec_2020['unemployment_percent_2020_12'] = np.round(unemployment_dec_2020['unemployment_percent_2020_12'], decimals = 2)

/var/folders/h2/3h97xj0n3t5308_bnccpf1s80000gn/T/ipykernel_4598/3933889652.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unemployment_dec_2020['unemployment_percent_2020_12'] = np.round(unemployment_dec_2020['unemployment_percent_2020_12'], decimals = 2)

In [67]:
# Showing the first five rows of the data set
unemployment_dec_2020.head()

,fips,cnip_2020_12,laborforce_2020_12,employed_2020_12,unemployment_percent_2020_12
0,36047095000,2533.6,1399.5,1195.2,14.60
62,36047018400,2322.0,1174.3,1068.6,9.00
126,36047024800,2111.2,995.5,903.0,9.29
204,36081091601,2905.1,1219.0,1127.2,7.53
269,36081011900,1344.2,976.1,900.1,7.79

In [68]:
# Importing data that contains FIPs codes and ZIP codes
zip_tract = pd.read_csv('../data/zip-tract.csv', dtype=str)

In [69]:
# Showing the first five rows of the data set
zip_tract.head()

     ZIP         fips
0  00501  36103158607
1  00601  72001956600
2  00601  72113071700
3  00601  72001956700
4  00601  72001956800

In [70]:
# Merging the two data sets on an inner join
unemployment_filtered_zip = pd.merge(unemployment_dec_2020, 
                      zip_tract, 
                      on ='fips', 
                      how ='inner')

In [71]:
# # Checking the length of the merged data set
len(unemployment_filtered_zip)

3141

In [73]:
# Exporting the data set as a CSV
unemployment_filtered_zip.to_csv('../output/unemployment-zip_dec_2020.csv', index=False)